<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="site.css">

    <title>After School Activities</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="./app.js" defer></script>
    <script src="./products.js" defer></script>
</head>

<body class="bg-gray-50">
    <div id="app">
        <header class="flex">
            <div class="header-logo">
                <img v-bind:src="sitelogo" v-bind:alt="sitename" class="h-4/5">
            </div>
            <div class="filter">
                <input v-on:input="applyFilter">
            </div>
            <div class="actions">
                <button v-show="currentPage === 'browse'" v-on:click="currentPage = 'checkout'"
                    :disabled="order.products.length === 0">🛒 Checkout <span class="badge"
                        v-show="order.products.length > 0">{{ order.products.length
                        }}</span></button>
                <button v-show="currentPage === 'checkout'" v-on:click="currentPage = 'browse'">🌐 Browse</button>
            </div>
        </header>
        <div id="products" v-show="currentPage === 'browse'" class="flex items-center flex-col">
            <div class="flex items-center justify-end max-w-xl m-3">
                <label class="input-label-classic scale-75">Sort </label>
                <select v-model="sort" class="input-classic scale-75">
                    <option v-for="(name, code) in sorts" v-bind:value="code" :key="code">{{ name }}
                    </option>
                </select>
            </div>
            <div class="max-w-xl flex flex-col gap-y-6 my-5">
                <div v-for="product in sortedProducts" :key="product.id"
                    class="flex gap-x-5 shadow-md hover:shadow-lg rounded-md bg-white">
                    <div class="w-40 flex-grow-0 flex-shrink-0">
                        <img v-bind:src="`images/${product.id}.png`" v-bind:alt="product.title"
                            class="w-40 rounded-s-md h-full object-cover">
                    </div>
                    <div class="p-2">
                        <div class="relative inline-flex items-center gap-x-2">
                            <h3 v-text="product.title" class="m-0 text-xl inline-block"></h3>
                            <div v-if="(product.place - cartProductCount(product.id)) < 5 && (product.place - cartProductCount(product.id)) > 0"
                                class="text-red-600 inline-flex items-center">
                                <span class="inline-block absolute bg-red-500 p-1 rounded-full animate-ping"></span>
                                <span class="inline-block absolute bg-red-500 p-1 rounded-full"></span>
                                <span class="text-xs ml-3">Only {{ product.place - cartProductCount(product.id) }}
                                    left!</span>
                            </div>
                        </div>
                        <div v-text="product.description" class="text-gray-500 text-xs font-raleway"></div>
                        <div class="flex">
                            <span v-for="n in product.rating" class="text-amber-400">★</span>
                            <span v-if="product.rating < 5">
                                <span v-for="n in (5 - product.rating)">☆</span>
                            </span>
                        </div>
                        <div class="flex text-sm gap-x-1">
                            <div>AED {{ Number(product.price).toLocaleString() }}</div>
                        </div>
                        <button v-if="(product.place - cartProductCount(product.id)) > 0"
                            v-on:click="addToCart(product)"
                            class="bg-amber-300 rounded hover:shadow-md px-2 mt-2 text-sm">+ Cart</button>
                        <button v-else class="bg-gray-300 rounded px-2 mt-2 text-sm">Sold out</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="checkout" v-show="currentPage === 'checkout'">
            <div v-if="order.products.length > 0"
                class="flex flex-col lg:flex-row items-center lg:items-start lg:justify-center gap-x-5 mt-10">
                <div class="max-w-xl flex flex-col gap-y-6 my-5">
                    <div v-for="product in productsInCart" :key="product.id"
                        class="flex gap-x-5 shadow-md hover:shadow-lg rounded-md bg-white">
                        <div class="w-40 flex-grow-0 flex-shrink-0">
                            <img v-bind:src="`images/${product.id}.png`" v-bind:alt="product.title"
                                class="w-40 rounded-s-md h-full object-cover">
                        </div>
                        <div class="flex flex-col p-2 items-start justify-between">
                            <div>
                                <h3 v-text="product.title" class="m-0"></h3>
                                <div v-text="product.description" class="text-gray-500 text-xs font-raleway"></div>
                                <div>
                                    {{ cartProductCount(product.id) }}
                                    X AED {{ Number(product.price).toLocaleString() }}
                                </div>
                                <div class="text-gray-400">AED {{ (cartProductCount(product.id) *
                                    Number(product.price)).toLocaleString() }}</div>
                            </div>
                            <div class="flex">
                                <button v-on:click="decreaseProductQty(product)"
                                    class="px-2 rounded-s bg-gray-200 disabled:bg-gray-100 disabled:text-gray-300"
                                    :disabled="cartProductCount(product.id) === 1">-</button>
                                <button v-on:click="increaseProductQty(product)"
                                    class="px-2 rounded-e bg-gray-200 disabled:bg-gray-100 disabled:text-gray-300"
                                    :disabled="product.place - cartProductCount(product.id) === 0">+</button>
                                <button v-on:click="removeFromCart(product)"
                                    class="btn-danger-muted text-xs ml-2">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col gap-y-3">
                    <h3 class="text-3xl">Order details</h3>
                    <div class="flex gap-x-3">
                        <div class="input-field">
                            <label class="input-label-classic">First Name</label>
                            <input v-model.trim="order.firstName" class="input-classic">
                        </div>
                        <div class="input-field">
                            <label class="input-label-classic">Last Name</label>
                            <input v-model.trim="order.lastName" class="input-classic">
                        </div>
                    </div>
                    <div class="input-field">
                        <label class="input-label-classic">Address</label>
                        <input v-model.trim="order.address" class="input-classic">
                    </div>
                    <div class="input-field">
                        <label class="input-label-classic">City</label>
                        <input v-model.trim="order.city" class="input-classic">
                    </div>
                    <div class="input-field">
                        <label class="input-label-classic">State</label>
                        <select v-model="order.state" class="input-classic">
                            <option disabled value=""></option>
                            <option v-for="(name, initial) in states" v-bind:value="initial" :key="initial">{{ name }}
                            </option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label class="input-label-classic">Zip / Postal Code</label>
                        <input v-model.number="order.zip" class="input-classic">
                    </div>
                    <div class="flex">
                        <input type="checkbox" id="gift" value="true" v-model="order.gift"
                            v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                        <label for="gift">Ship As Gift?</label>
                    </div>
                    <div class="flex">
                        <input type="radio" id="home" value="Home" v-model="order.method">
                        <label for="home">Home</label>
                    </div>
                    <div class="flex">
                        <input type="radio" id="business" value="Business" v-model="order.method">
                        <label for="business">Business</label>
                    </div>
                </div>
                <div
                    class="flex flex-col gap-y-3 max-w-80 w-full p-5 border-dashed border-gray-300 border-2 bg-[ghostWhite]">
                    <h3>Order Information</h3>
                    <div class="flex gap-x-2"><b>Name:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.firstName +
                            ' ' + order.lastName }}</div>
                    </div>
                    <div class="flex gap-x-2"><b>Address:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.address }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>City:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.city }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>State:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.state }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>Zip:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.zip }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>Gift?</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.gift }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>Method:</b>
                        <div class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400">{{ order.method }}
                        </div>
                    </div>
                    <div class="flex gap-x-2"><b>Total:</b>
                        <div
                            class="flex-grow flex-shrink-0 border-b border-dashed border-gray-400 text-right text-red-600">
                            AED {{ cartTotalPrice.toLocaleString() }}</div>
                    </div>

                    <div class="flex">
                        <button v-if="checkoutFormIsValid" v-on:click="submitForm" class="btn-classic w-full">Place
                            Order</button>
                        <button v-else class="btn-classic w-full" disabled>Place Order</button>
                    </div>
                </div>
            </div>
            <div v-else class="flex justify-center items-center h-96">
                <h1 class="text-4xl font-raleway">
                    Empty cart ¯\_(ツ)_/¯
                </h1>
            </div>
        </div>
    </div>
</body>

</html>